.loading {
  text-align: center;
}
.container {
  background-color: #ffeacd;
  padding-top: 10px;
}

.heading {
  text-align: center;
}

.list {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
