.announcement {
  height: 50px;
  text-align: center;
  background-color: black;
  padding: 1px;
  color: white;
  /* font-size: 14px; */
}

/* .paragraphDiv {
  display: flex;
} */

/* .paragraph {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(calc(-25%), 0, 0);
  animation: marquee-lg 10s linear infinite;
  animation-play-state: running;
}

@keyframes marquee-lg {
  0% {
    transform: translate3d(calc(-25% + 10vw), 0, 0);
  }

  100% {
    transform: translate3d(calc(90% + 100vw), 0, 0);
  }
} */
body {
  --red: black;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

@media (max-width: 470px) {
  .paragraph {
    font-size: 12px;
  }
}
