.navContainer {
  /* height: 60px; */
  /* margin-bottom: 10px; */
  background-color: #ffeacd;
  padding-bottom: 1px;
  /* border-bottom: 2px solid black; */
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
a {
  text-decoration: none;
  color: black;
}
.left {
  flex: 1;
}
.center {
  flex: 1;
  text-align: center;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

.right a,
.left a {
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  transition: font-size 0.5s ease;
}

.right a:hover,
.left a:hover {
  font-size: 20px;
}

.mobileNav,
.mobileLinks {
  display: none;
}

@media (max-width: 1000px) {
  .nav {
    display: none;
  }

  .mobileNav {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
  }
  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
  }

  .mobileLinks {
    display: flex;
    flex-direction: column;
  }

  .mobileLinks a {
    list-style: none;
    font-size: 17px;
    text-align: center;
    /* margin-bottom: 10px; */
    padding: 10px;
    width: 50%;
    margin: auto;
  }

  .mobileLinks a:hover {
    background-color: black;
    color: white;
  }
}
