/*  */

.offerContainer {
  background-color: #9e9e9e;
  padding: 50px;
}
.offerWrapper {
  width: 75%;
  margin: auto;
  text-align: center;
}
.offerWrapper h1 {
  font-weight: lighter;
}
.top {
  font-size: 35px;
}

.offerWrapper p {
  font-size: 20px;
}

.offerWrapper button {
  background-color: transparent;
  font-size: 20px;
  height: 60px;
  width: 300px;
  margin: 20px;

  transition: all 0.5s ease;
}
.offerWrapper button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

.news h1 {
  text-align: center;
}
.news p {
  text-align: center;
  font-size: 25px;
}

.email {
  padding: 20px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email input {
  width: 500px;
  height: 40px;
}

.email button {
  width: 300px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
}

@media (max-width: 750px) {
  .offerContainer {
    padding: 10px;
    padding-top: 1px;
  }
  .offerWrapper {
    width: 100%;
  }

  .top {
    font-size: 30px;
  }
  .offerWrapper button {
    background-color: transparent;
    font-size: 17px;
    height: 60px;
    width: 250px;
  }

  .email input {
    width: 400px;
    height: 40px;
  }
}

@media (max-width: 440px) {
  .top {
    font-size: 25px;
  }

  .offerWrapper p {
    font-size: 17px;
  }

  .email input {
    width: 300px;
    height: 40px;
  }
  .email button {
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
  }
}
